.idea/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
lib/
lib64/
parts/
sdist/
var/
MANIFEST
bin/
include/
share/
etc/

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# User-specific stuff
src/jupyter
src/mnt
src/logs/*

## Temp excel files
~$*.xlsx

## Log files
src/extractions/log.txt
dblp.xml
.DS_Store
dbmining.sqlite
dbmining.sqlite_test
