[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
matplotlib = "*"
openpyxl = "*"
pandas = "1.3.2"
requests = "*"
sqlalchemy = "==1.4.45"
sqlalchemy-utils = "*"
flask = "==2.0.1"
flask-sqlalchemy = "*"
flask-cors = "*"
numpy = "*"
matplotlib-venn = "*"
seaborn = "*"
dask = "*"
pathlib2 = "*"
timeout-decorator = "*"
pygithub = "*"
future = "*"
chardet = "*"
IPython = "*"
nbformat = "*"
langdetect = "*"
nltk = "*"
mistune ="==0.8.4"
astunparse = "*"
nbconvert = "*"
pytz="*"

# Test related modules
pytest = "*"
coverage = "*"
pytest-mock = "*"
pylint = "*"
factory-boy = "*"

[dev-packages]

[requires]
python_version = "3.8"
