jupyter
matplotlib
openpyxl
pandas
requests
sqlalchemy==1.4.45
sqlalchemy-utils
flask
flask-sqlalchemy
flask-cors
numpy
matplotlib-venn
seaborn
dask
pathlib2
timeout-decorator
pygithub
future
chardet
IPython
nbformat
langdetect
nltk
mistune==0.8.4
astunparse
nbconvert
pytz

# Test related modules
pytest
coverage
pytest-mock
pylint
factory-boy